.pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 64rem) {
        width: 85%;
        margin: 0 auto;
    }

    &_previou,
    &_next {
        font-size: 18px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &_position {
        p {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 18px;
            line-height: 23px;
            font-weight: 400;
        }
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            font-weight: 500;
            border: 1px solid #3f3f3f;
            border-radius: 3px;
        }
    }
}
