* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
*,
:after,
:before {
    box-sizing: border-box;
}

body {
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 24px;

    --gray1: #989898;

    margin: 0;
    font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
